<div class = "chat-header">
  <div class = "left-header">
    <div class = "menu-name">
      <p>hogefuga</p>
    </div>
  </div>
  <div class = "right-header">
    <div class = "menu-exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "messages">
  <div class = "message">
    <div class = "massage-line1">
      <div class = "massage-name">Tom</div>
      <div class = "massage-date">2022/12/1(thu) 20:54:30</div>
    </div>
    <div class = "massage-line2">
      <div class = "massage-text">１行目のコメントです</div>
    </div>
  </div>
 <div class = "message">
    <div class = "massage-line1">
      <div class = "massage-name">Som</div>
      <div class = "massage-date">2022/12/1(thu) 21:54:30</div>
    </div>
    <div class = "massage-line2">
      <div class = "massage-text">２行目のコメントです</div>
    </div>
  </div>
  
</div>

<div class = "form">
    <div class="form-area">
      <input class="form-text" type="text" placeholder="type a massage">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
      <input class="send" type="submit" value="送信">
</div>