<!-- <!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>chat-app</title>
    <link rel="stylesheets" href="messages.css">
  </head>
  <body>
  -->
    <div class = "wrapper">
      <div class = "side-bar">
        <%= render "side_bar"%>
      </div>
      <div class = "main-chat">
        <%= render "main_chat"%>
      </div>
    </div>
<!-- 
  </body>
</html> -->